// .babelrc

{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    [
      "react-app",
      {
        "absoluteRuntime": false,
        "include": [
          "src/components/**/*.{js,jsx,ts,tsx}",
          "src/components/*.{js,jsx,ts,tsx}"
        ]
      }
    ]
  ]
}
